[submodule "exampleSite/themes/hugo-search-fuse-js"]
	path = exampleSite/themes/hugo-search-fuse-js
	url = https://github.com/kaushalmodi/hugo-search-fuse-js
[submodule "exampleSite/themes/hugo-debugprint"]
	path = exampleSite/themes/hugo-debugprint
	url = https://github.com/kaushalmodi/hugo-debugprint
