{{ define "main" }}             <!-- List of all posts -->

{{ if (eq .Kind "section") }}
    <h2>Posts in ‘{{ .Dir | default .Section }}’</h2>
{{ else if (eq .Kind "taxonomy") }}
    <h2>Posts with the {{ .Type | singularize }} ‘{{ .URL | replaceRE (printf "/%s/" .Type) "" | replaceRE "/" "" }}’</h2>
{{ end }}

{{ with .Content }}
    {{ . }}
{{ end }}

{{ with .Resources }}
    <hr>
    <h3>Resources</h3>
    <ul>
	{{ range . }}
	    {{ if .RelPermalink }}
	        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	    {{ else }}
	        <li>{{ .ResourceType | title }} (no link, only embedded in page)</li>
	    {{ end }}
	{{ end }}
    </ul>
{{ end }}

<section>
    <ul class="post-list">
        {{ range .Pages }}
            {{ .Render "li" }}
        {{ end }}
    </ul>
</section>

<hr>
<a id="debug"></a>
<h3 id="page-debug">Page Params (Debug)</h3>
{{ partial "debugprint.html" .Params }}
{{ with .Resources }}
    <h3 id="resource-debug">Resources (Debug)</h3>
    {{ partial "debugprint.html" . }}
{{ end }}
<h3 id="file-debug">File Object (Debug)</h3>
{{ partial "debugprint.html" .File }}

{{ end }}
