<!-- dummy variable for whitespace chomping --> {{- $chomp := "" -}}
<!-- 0.36     -> 0.36 -->                       {{- $chomp -}}
<!-- 0.36.1   -> 0.361 -->                      {{- $chomp -}}
<!-- 0.37-DEV -> 0.3699 -->                     {{- $chomp -}}
{{- $ver_major_minor := (float (replaceRE "([0-9]+\\.[0-9]+).*" "${1}" .)) -}}
{{- $ver_micro_str := (replaceRE "[0-9]+\\.[0-9]+(.*)" "${1}" . | replaceRE "-DEV" "-0.01") -}}
{{- $ver_micro := (div (float (or $ver_micro_str "0")) 100.00) -}}
{{- $ver_float := (add $ver_major_minor $ver_micro) -}}
<!-- "Return" value -->
{{- $ver_float -}}
